<div class="jumbotron">
  <h2>Link Extractor</h2>
  <p class="lead">Here are the latest links from the elixir community</p>
</div>

<div class="row">
  <div class="col-lg-12">
    <ul>
      <%= for link <- @links do %>
        <li>
        <a href="<%= link.url %>"><%= link.title %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
